.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    text-align: center;
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 22px;
}